.bridesmaid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @media #{$break-large} {
    flex-direction: row;
  }

  &-col-1 {
    width: 100%;
    height: 50vh;
    position: relative;
    @media #{$break-large} {
      width: 25%;
      height: 100vh;
    }
  }

  &-1 {
    background: url('../../../temp/assets/images/bridesmaid1_resize.jpg') center 10% no-repeat;
    background-size: cover;
    order: 1;
  }
  &-2 {
    background: url('../../../temp/assets/images/bridesmaid2_resize.jpg') center 21% no-repeat;
    background-size: cover;
    order: 2;
  }
  &-3 {
    background: url('../../../temp/assets/images/bridesmaid3_resize.jpg') center 44% no-repeat;
    background-size: cover;
    order: 3;
  }
  &-4 {
    background: url('../../../temp/assets/images/bridesmaid4_resize.jpg') center 22% no-repeat;
    background-size: cover;
    order: 4;
  }

  &-name {
    position: absolute;
    text-align: center;
    left: 5%;
    top: 32px;
    @media #{$break-large} {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 85%;
    }

    & h3 {
      font-size: 1.5rem;
      font-weight: 800;
      color: $white;
      letter-spacing: .1rem;
    }
  }

  &-quote {
    position: absolute;
    text-align: right;
    color: $base-color;
    font-family: $curvy-font;
    text-shadow: 2px 2px 3px black;
    letter-spacing: .1rem;
    bottom: 5%;
    right: 5%;
    width: 60%;
    font-size: 1.5rem;
    line-height: 1.5rem;

    @media #{$break-small} {
      font-size: 2rem;
      line-height: 2.5rem;
    }
    @media #{$break-medium} {
      font-size: 2.5rem;
    }

    @media #{$break-large} {
      width: 90%;
      bottom: 15%;
      font-size: 2rem;
    }
    @media #{$break-xlarge} {
      width: 90%;
      bottom: 15%;
      font-size: 2.8rem;
      line-height: 3rem;
  }
    & blockquote::before{
      font-family: $palaquin-font;
      content: '“';
    }
    & blockquote::after {
      font-family: $palaquin-font;
      content: '​‌”';
    }
  }

  &-social {
    position: absolute;
    top: 50px;
    left: 5%;
    text-align: center;
    & a {
      color: $base-color;
      display: inline-block;
      font-size: 1.4rem;
      padding: 5px;
    }

    @media #{$break-large} {
      top: 90%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
  }

}
