.wed-home {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    padding: 0;
}

.wed-front {
    background: url('../../images/front 2_compressed.jpg') center no-repeat;
    background-size: cover;

}

.wed-heading {
    height: 35vh;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.wed-heading-wrapper {
    width: 100%;
    text-align: center;
    h1 {
        font-family: 'Roboto', sans-serif;
        color: $white;
        font-size: 3rem;
        letter-spacing: .2rem;
        font-weight: bold;
        text-shadow: 2px 2px 10px $dark-violet;
        @media #{$break-small} {
            font-size: 4rem;
        }
        @media #{$break-medium} {
            font-size: 5rem;
        }
        @media #{$break-large}{
            font-size: 3rem;
        }
    }
    .std {
        display: block;
        font-family: 'Lato', sans-serif;
        font-size: 0.5em;
        font-weight: normal;
        width: 180px;
        padding: 15px;
        border-top: 3px solid $dark-violet;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin: 15px auto;
        @media #{$break-small} {
            width: 218px;
        }
        @media #{$break-medium} {
            width: 264px;
        }
        @media #{$break-large} {
            width: 311px;
        }
    }
    .wed-date {
        font-weight: normal;
        font-size: 1.5em;
        letter-spacing: 2px;
    }
}
