$base-color: #e6b9f3;
$white: #eef1e2;
$green: #94b58b;
$dark-violet:  #8c69a0;
$dark-tone: #827da7;

//media query sizes variables
$break-small: 'screen and (min-width: 576px)';
$break-medium: 'screen and (min-width: 768px)';
$break-large: 'screen and (min-width: 992px)';
$break-xlarge: 'screen and (min-width: 1200px)';
$break-maxMed: 'screen and (max-width: 992px)';

//fonts variables
$curvy-font: 'Tangerine', cursive;
$lato-font: 'Lato', sans-serif;
$roboto-font: 'Roboto', sans-serif;
$palaquin-font: 'Palanquin Dark', sans-serif;
